@model IEnumerable<RestaurantSys.Models.Order>

@{
    ViewData["Title"] = "所有訂單";
}

<h2 class="fw-bold">@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                訂單編號
            </th>
            <th>
                訂單總金額
            </th>
            <th>
                預計取餐時間
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderStatus.OrderStatusName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderID)
                </td>
                <td>
                    @{
                        // 計算訂單總金額
                        var totalAmount = item.OrderDetails.Sum(od => od.Quantity * od.UnitPrice);
                    }
                    NT$ @totalAmount.ToString("N0")
                </td>
                <td>
                    @item.PickUpTime.ToString("HH:mm")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderStatus.OrderStatusName)
                </td>
                <td>
                    <a asp-area="Admin" asp-controller="OrderDetails" asp-action="Details" asp-route-id="@item.OrderID">訂單詳情</a>
                </td>
            </tr>
        }
    </tbody>
</table>