@model IEnumerable<RestaurantSys.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickUpTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickUpTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.MemberID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.EmployeeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayType.PayTypeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus.OrderStatusID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@if (TempData["SuccessMessage"] != null && TempData["SuccessMessage"].ToString() == "Order_Created")
{
    @section Scripts {
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                // 清空購物車
                localStorage.removeItem('cart');

                // 更新導覽列購物車數量
                updateCartCount();
            });

            // 更新導覽列購物車數量
            function updateCartCount() {
                let cart = JSON.parse(localStorage.getItem("cart")) || [];
                let totalQty = cart.reduce((acc, item) => acc + item.Qty, 0); // 注意大小寫要跟 cart 資料一致
                let countEl = document.getElementById("cart-count");
                if (countEl) {
                    countEl.innerText = totalQty;
                }
            }
        </script>
    }
}