@model IEnumerable<RestaurantSys.Models.StockBatch>

@{
    ViewData["Title"] = "進貨紀錄";
}

<h2 class="fw-bold">@ViewData["Title"]</h2>

<p>
    <a class="btn btn-outline-dark" asp-action="Create">新增進貨紀錄</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BatchNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BatchNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.EName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BatchID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BatchID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BatchID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a class="btn btn-outline-dark" asp-area="Backend" asp-controller="Stocks" asp-action="Index">回到庫存管理</a>
    <a class="btn btn-outline-dark" asp-area="Backend" asp-controller="BackendHome" asp-action="Index">回到後台首頁</a>
</div>
